<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link rel="shortcut icon" href="fav.png" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title><%= title %></title>
</head>

<body>
  <header>
    <h2><a href="/">URL Shortner</a></h2>
  </header>
  <main>
    <h2>Paste your URL to be shortened</h2>
    <form action="/short" method="post" id="urlForm">
      <input type="text" name="url" placeholder="wwww.myurl.com/..." />
      <button>Shorten URL</button>
    </form>
  </main>
</body>
<script>
  $('#urlForm').submit(function (e) {
    if ($("input").val() == "") {
      e.preventDefault();
      alert('must fill value')
    }

  });
</script>

</html>