<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="fav.png" type="image/x-icon" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h2><a href="/">URL Shortner</a></h2>
    </header>
    <main>
      <h2>Get memorable Shortened URL</h2>
      <h1 id="shortenUrl"><%= shortenUrl %></h1>
    </main>
  </body>
</html>
