@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Manrope', sans-serif;
}

body{
    background: rgb(238, 238, 238);
    height: 100vh;
    position: relative;
}

input,button{
    background: none;
    outline: none;
    box-sizing: border-box;
    font-family: inherit;
    border: none;
}
header{
    background: rgb(0, 196, 114);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    padding: .3rem 0;
    font-size: 1.2rem;
    position: relative;
    border-bottom: .3rem rgba(54, 54, 54, 0.192) solid;
}

/* header h2{
    position: relative;
    width: 12rem;
    margin: auto;
}

header h2::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.3rem;
    background: red;
} */

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: rgb(0, 196, 114);
    width: 50vw;
    padding: 1rem 0;
}
main h2{
    color: white;
}

main input,
main button{
    background: rgb(223, 223, 223);
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 3px;
}

#input,#output{
    /* background: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}

#input input{
    width: 60%;
}


#input button,
#output button{
    background: rgb(255, 115, 0);
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}
    


.shortened-url{
    background: rgb(14, 104, 206);
    padding: .5rem;
    font-size: 1.2rem;
    border-radius: 3px;
    color: white;
}
